<article class="article-1">
    <h2>The Value Of Money</h2>
    <div class="row">
        <figure>
            <img src="img/image-1.jpg" alt="Money" />
            <figcaption class="caption">The value of Money</figcaption>
        </figure>
        <div>
            <p class="break-1">The value of money goes beyond its face value, providing us with freedom and autonomy,
                security and stability,
                and enabling us to build relationships, create experiences, and pursue personal growth and development.
                It
                also
                has the power to create positive change in the world, allowing us to support causes we care about and
                make a
                difference in our communities. However, it's essential to recognize that money is a social construct, a
                system
                of exchange that only has value because we believe it.</p>

            <p>While money has the potential to bring us joy and fulfillment, it can also have a negative impact on our
                lives,
                leading to stress and anxiety, perpetuating inequality and injustice, and fueling materialism and
                consumerism.
                By understanding the true value of money, we can make more intentional decisions about how we earn,
                spend,
                and
                invest it, using it as a tool to create a better life for ourselves and others. By recognizing both the
                benefits
                and drawbacks of money, we can cultivate a healthier relationship with it and use it to achieve our
                goals
                and
                aspirations.</p>
        </div>
    </div>
</article>

<article class="article-2">
    <h2>GMO Food</h2>
    <div class="row">
        <figure class="figure-2">
            <img src="../img/image-2.jpg" alt="Food" class="image-2" />
            <figcaption class="caption">GMO Food</figcaption>
        </figure>
        <div class="para-2">
            <p class="break-1">Genetically modified organism (GMO) foods have the potential to revolutionize the way we
                produce and consume food. By introducing desirable traits into crops, scientists can create plants that
                are
                more resilient, nutritious, and productive. This can lead to increased crop yields, reduced pesticide
                use,
                and improved food security, particularly in developing countries. GMO foods can also be engineered to be
                more drought-resistant, allowing them to thrive in areas with limited water resources. Additionally,
                GMOs
                can be designed to produce more nutrients, such as vitamin A-enriched "golden rice," which can help
                combat
                micronutrient deficiencies.</p>

            <p> Despite the potential benefits, GMO foods have sparked intense controversy and debate. Many consumers
                are
                concerned about the potential health risks associated with consuming genetically modified organisms,
                citing
                a lack of long-term studies and uncertainty about the impact on human health. Others worry about the
                environmental implications, such as the potential for GMO crops to cross-breed with non-GMO crops or to
                develop "superweeds" that are resistant to herbicides. Furthermore, the concentration of GMO patents in
                the
                hands of a few large corporations has raised concerns about the impact on small-scale farmers and the
                agricultural industry as a whole. As a result, many countries have implemented strict regulations on GMO
                foods, and some have even banned them altogether.</p>
        </div>
    </div>
</article>

<article class="article-3">
    <h2>The View of World in 2100</h2>
    <div class="row">
        <figure>
            <img src="../img/image-3.jpg" alt="2100 World"  />
            <figcaption class="caption">The Value of World in 2100</figcaption>
        </figure>
        <div>
            <p class="break-1">In the year 2100, the world will be a vastly different place. Megacities will have become
                the
                norm, with towering skyscrapers and subterranean spaces utilized for transportation and infrastructure.
                The
                consequences of climate change will have fully realized, leading to more frequent and severe weather
                events.
                However, humanity will have adapted, with innovative technologies and sustainable practices allowing us
                to
                thrive in this new environment. Cities will be testaments to human innovation and the ability to adapt
                to a
                rapidly changing world.
            </p>

            <p> 2100, the global population will have shifted, with Africa and Asia becoming the hubs of economic and
                cultural activity. The world order will have changed, with new superpowers emerging and traditional
                powers
                adapting to their new roles. Virtual and augmented reality will have become indistinguishable from
                reality
                itself, allowing people to experience the world in ways previously unimaginable. Space exploration will
                have
                become routine, with humanity having established colonies on the moon and Mars. The boundaries between
                humans and machines will have blurred, with artificial intelligence and biotechnology.</p>
        </div>
    </div>
</article>
