<section>
    <h2>Portfolio</h2>
    <div class="cards">
        <div class="card">
            <img src="../img/Project-1.jpg" alt="BBQ Ad print">
            <img src="../img/Project-1.jpg" alt="Full Image" class="full-image"> 
            <h3>Project 1</h3>
        </div>
        <div class="card">
            <img src="../img/Project-2.jpg" alt="Smile4kids Ad print">
            <img src="../img/Project-2.jpg" alt="Full Image" class="full-image"> 
            <h3>Project 2</h3>
        </div>
        <div class="card">
            <img src="../img/Project-3.jpg" alt="Digital painting">
            <img src="../img/Project-3.jpg" alt="Full Image" class="full-image"> 
            <h3>Project 3</h3>
        </div>
        <div class="card">
            <img src="../img/Project-4.jpg" alt="Fashion Magazine">
            <img src="../img/Project-4.jpg" alt="Full Image" class="full-image"> 
            <h3>Project 4</h3>
        </div>
        <div class="card">
            <img src="../img/Project-5.jpg" alt="Travel poster">
            <img src="../img/Project-5.jpg" alt="Full Image" class="full-image"> 
            <h3>Project 5</h3>
        </div>
        <div class="card">
            <img src="../img/Project-6.jpg" alt="Quit animal circus typographical poster">
            <img src="../img/Project-6.jpg" alt="Full Image" class="full-image"> 
            <h3>Project 6</h3>
        </div>
    </div>
</section>
